BloodPressureConsole/bin/
BloodPressureConsole/obj/
BloodPressureDoctor/obj/
BloodPressureDoctor/bin/
BloodPressureWebApi/bin/
BloodPressureWebApi/obj/
packages/
QueueListener/bin/
CommonQueueManager/bin/
CommonQueueManager/obj/
CommonDbManager/bin/
CommonDbManager/obj/
QueueListener/obj/
.vs/
*.user
