<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitMqHostName" value="bloodpressure-rabbitmq" />
    <add key="RabbitMqUserName" value="guest" />
    <add key="RabbitMqPassword" value="guest" />
    <add key="RabbitMqVirtualHost" value="/" />
    <add key="RabbitMqPort" value="5672" />
    <add key="RabbitMqTopicName" value="test" />
    <add key="MongoConnection" value="mongodb://bloodpressure-mongodb:27017" />
    <add key="MongoDbName" value="local" />
    <add key="MongoCollectionName" value="TestData" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>